<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Introducción</string>
		<key>id</key>
		<string>0</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>D2B53D</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Derivados del petróleo</string>
		<key>id</key>
		<string>1</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>107896</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aromáticos</string>
		<key>id</key>
		<string>2</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>1287A8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Clorados</string>
		<key>id</key>
		<string>3</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>1496BB</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Glicoles</string>
		<key>id</key>
		<string>4</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>43ABC9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Solventes verdes</string>
		<key>id</key>
		<string>5</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>829356</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MeTHF</string>
		<key>id</key>
		<string>6</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>93A661</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CPME</string>
		<key>id</key>
		<string>7</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>A3B86C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DMPU</string>
		<key>id</key>
		<string>8</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>B5C689</string>
	</dict>
</array>
</plist>
