<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pregunta</key>
		<string>¿Los solventes industriales son sustancias que permiten elaborar gran cantidad de recursos que usamos en la vida diaria?</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Dentro de los solventes existen dos grupos principales: los que son derivados del carbono y los que son verdes.</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes industriales no son necesarios para el proceso de la elaboración de los textiles.</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Para el proceso de extracción de aceites y grasas dentro del área de la comida, son necesarios los solventes industriales.</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Sin los solventes industriales, no sería posible el proceso la elaboración de los automóviles.</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Otra aplicación de los solventes es:</string>
		<key>id_categoria</key>
		<string>0</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>Aguas residuales</string>
			<string>Cosméticos</string>
			<string>Frutas</string>
			<string>Todas</string>
		</array>
		<key>correct_option</key>
		<string>Cosméticos</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes derivados del petróleo son los menos comunes dentro de la industria.</string>
		<key>id_categoria</key>
		<string>1</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los derivados del petróleo son tóxicos.</string>
		<key>id_categoria</key>
		<string>1</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Actualmente se buscan procesos que sean menos sostenibles pero más económicos.</string>
		<key>id_categoria</key>
		<string>1</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Algunas categorías del grupo de derivados del petróleo son: aromáticos, acetatos, cetonas, alcoholes, clorados, alifáticos, glicoles y neotéricos.</string>
		<key>id_categoria</key>
		<string>1</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes aromáticos contienen un anillo de seis carbonos con enlaces dobles conjugados.</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El tolueno tiene un punto de ebullición menor a la del agua.</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El tolueno también es conocido como toluel.</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Una de las funciones del tolueno es disolver aceites, resinas, asfalto y brea.</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El tolueno no es componente de la gasolina.</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Otro ejemplo de solventes aromático es:</string>
		<key>id_categoria</key>
		<string>2</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>Ciclohexano</string>
			<string>Fenilo</string>
			<string>Xileno</string>
			<string>Todas</string>
		</array>
		<key>correct_option</key>
		<string>Xileno</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Dentro de los solventes derivados del petróleo una categoría son los solventes clorados.</string>
		<key>id_categoria</key>
		<string>3</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes clorados no causan ningún daño a la salud, no se tienen que tomar prevención en su uso.</string>
		<key>id_categoria</key>
		<string>3</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La temperatura de fusión del tricloroetileno es menor que la del agua.</string>
		<key>id_categoria</key>
		<string>3</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La masa molar del tricloroetileno es:</string>
		<key>id_categoria</key>
		<string>3</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>131.9 g/mol</string>
			<string>131.4 g/mol</string>
			<string>135.2 g/mol</string>
			<string>132.4 g/mol</string>
		</array>
		<key>correct_option</key>
		<string>131.4 g/mol</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Otro solvente clorado es el tetracloroetileno.</string>
		<key>id_categoria</key>
		<string>3</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los glicoles tienen dos alcoholes en su estructura.</string>
		<key>id_categoria</key>
		<string>4</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los glicoles son solubles en agua.</string>
		<key>id_categoria</key>
		<string>4</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La densidad del etilenglicol es:</string>
		<key>id_categoria</key>
		<string>4</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>2.116 g/cm3</string>
			<string>1.119 g/cm3</string>
			<string>1.116 g/cm3</string>
			<string>Ninguna</string>
		</array>
		<key>correct_option</key>
		<string>1.116 g/cm3</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El etilenglicol no sirve como fabricante de explosivos.</string>
		<key>id_categoria</key>
		<string>4</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El etilenglicol sirve para la producción de fibras PET.</string>
		<key>id_categoria</key>
		<string>4</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes más utilizados en la industria son los verdes.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes verdes tienen las mismas características que los solventes derivados del petróleo pero diferentes aplicaciones.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La principal característica de los solventes verdes es reducir el impacto ocasionado por el empleo de los disolventes clásicos.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes verdes tienen baja toxicidad.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes verdes tienen alta volatilidad.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Los solventes verdes no son cancerígenos.</string>
		<key>id_categoria</key>
		<string>5</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El MeTHF es igual que el 2-Metiltetrahidrofurano.</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El MeTHF es soluble en agua caliente, fría y acetona.</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El MeTHF proviene de:</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>Fuentes no-renovables</string>
			<string>Fuentes renovables</string>
			<string>Ambas</string>
			<string>Ninguna</string>
		</array>
		<key>correct_option</key>
		<string>Fuentes renovables</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El solvente clásico que sustituye al MeTHF es:</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>Dihidrofurano</string>
			<string>Pentahidrofurano</string>
			<string>Tetrahidrofurano</string>
			<string>Ninguno</string>
		</array>
		<key>correct_option</key>
		<string>Tetrahidrofurano</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El THF es un derivado petroquímico.</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Con el uso de MeTHF se disminuye el rendimiento de las reacciones y se aumentan riesgos.</string>
		<key>id_categoria</key>
		<string>6</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El tetrahidrofurano es una alternativa verde para el Metoxiciclopentano.</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La masa molar del Metoxiciclopentano es 100.16 kg/mol.</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El Metoxiciclopentano tiene gran resistencia a la formación de peróxidos.</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La densidad del Metoxiciclopentano es:</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>0.86 g/cm3</string>
			<string>1.86 g/cm3</string>
			<string>0.086 g/cm3</string>
			<string>10.086 g/cm3</string>
		</array>
		<key>correct_option</key>
		<string>0.86 g/cm3</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El Metoxiciclopentano no sirve para las reacciones de Friedel-Crafts.</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>Una forma de obtener Metoxiciclopentano es con la metilación del pentano.</string>
		<key>id_categoria</key>
		<string>7</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El DMPU es un acelerador en situaciones nucleofílicas.</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El DMPU no es soluble en agua.</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El punto de ebullición del DMPU es:</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>136ºC</string>
			<string>146ºC</string>
			<string>146ºF</string>
			<string>Ninguno</string>
		</array>
		<key>correct_option</key>
		<string>146ºC</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>La densidad del DMPU es 1.27 g/cm3.</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Falso</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>El DMPU se deriva de la urea.</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>2</string>
		<key>options</key>
		<array>
			<string>Verdadero</string>
			<string>Falso</string>
		</array>
		<key>correct_option</key>
		<string>Verdadero</string>
	</dict>
	<dict>
		<key>pregunta</key>
		<string>¿Cuál es el punto de fusión del DMPU?</string>
		<key>id_categoria</key>
		<string>8</string>
		<key>amount_options</key>
		<string>4</string>
		<key>options</key>
		<array>
			<string>23°C</string>
			<string>-24°C</string>
			<string>-23°F</string>
			<string>-23°C</string>
		</array>
		<key>correct_option</key>
		<string>-23°C</string>
	</dict>
</array>
</plist>
