<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Introducción</string>
		<key>id</key>
		<string>0</string>
		<key>amount_questions</key>
		<string>10</string>
		<key>amount_questions_right</key>
		<string>3</string>
		<key>hex</key>
		<string>2C314F</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Derivados del petróleo</string>
		<key>id</key>
		<string>1</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>9C9C9C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aromáticos</string>
		<key>id</key>
		<string>2</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>9C9C9C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Clorados</string>
		<key>id</key>
		<string>3</string>
		<key>amount_questions</key>
		<string>10</string>
		<key>amount_questions_right</key>
		<string>4</string>
		<key>hex</key>
		<string>9C9C9C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Glicoles</string>
		<key>id</key>
		<string>4</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>9C9C9C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Solventes verdes</string>
		<key>id</key>
		<string>5</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>6DB6BA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MeTHF</string>
		<key>id</key>
		<string>6</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>6DB6BA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CPME</string>
		<key>id</key>
		<string>7</string>
		<key>amount_questions</key>
		<string>10</string>
		<key>amount_questions_right</key>
		<string>5</string>
		<key>hex</key>
		<string>6DB6BA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DMPU</string>
		<key>id</key>
		<string>8</string>
		<key>amount_questions</key>
		<string>0</string>
		<key>amount_questions_right</key>
		<string>0</string>
		<key>hex</key>
		<string>6DB6BA</string>
	</dict>
</array>
</plist>
