<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SolveTec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A16D4CB61E86D94500240597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16D4CCD1E86D94600240597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16D4CD81E86D94600240597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
