<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>CorrectAnswer</key>
			<string>Verdadero</string>
			<key>Question</key>
			<string>¿Los solventes industriales son sustancias que permiten elaborar gran cantidad de recursos que usamos en la vida diaria?</string>
		</dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>Dentro de los solventes existen dos grupos principales: los que son derivados del carbono y los que son verdes.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>¿Los solventes más utilizados en la industria son los verdes?</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>¿Dentro de los solventes derivados del carbono una categoría son los solventes clorados?</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>¿Los solvente aromáticos contienen un anillo de seis carbonos con enlaces  dobles conjugados?</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>Los solventes aromáticos tienen un punto de ebullición menor a la del agua.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>Los solventes clorados no causan ningún daño a la salud, no se tienen que tomar prevención en su uso.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>La temperatura de fusión de los solventes clorados es menor que la del agua.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>Los glicoles tienen dos Alcoholes en su estructura.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>Los glicoles son solubles en agua purificada.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>Los solventes verdes tienen las mismas características que los solventes derivados del petróleo pero diferentes aplicaciones.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>El MeTHF es igual que el 2-Metiltetrahidrofurano.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>El MetH es soluble en agua caliente, fría y acetona. </string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>El tetrahidrofurano es una alternativa verde para el Metoxiciclopentano.</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>La masa molar del Metoxiciclopentano es 100.16 kg/mol</string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Verdadero</string>
            <key>Question</key>
            <string>El DMPU es un acelerador en situaciones nucleofílicas. </string>
        </dict>
        <dict>
            <key>CorrectAnswer</key>
            <string>Falso</string>
            <key>Question</key>
            <string>El DMPU no es soluble en agua:</string>
        </dict>
	</array>
</dict>
</plist>
